extends ../layout

block content
	h1= title
	div(class='submenu')
		a(href='full') Full
		| &nbsp;|&nbsp; 
		a(href='year') Year
		| &nbsp;|&nbsp;
		a(href='month4') 4 Months
		| &nbsp;|&nbsp;
		a(href='month') Month
		| &nbsp;|&nbsp;
		a(href='/info/ac/' + token + '/' + unit + '/') Week
	img(src='/img/' + token + '-' + unit + '-ac-' + period + '.png' class='chart' alt='ethereum bitcoin accumulation distribution')