extends ../layout

block content

	h1= title

	h2 A Very strange Registration...
	p It's the easiest!
	p Key is like a password which is stored on the server as a Blake2b hash. Only you know it as unhashed. Key is required for your identification.
	p Seeds are something like a secret phrases that is understandable to you, but difficult for others to guess. The seed is used to sign requests via HMAC. It's sent to the server once during registration.
	p E-mail as like as Option ~ it may be needed for My news or Your trouble... and may be not :)

	h2 Log In enters nowhere!
	p Sorry, but I don’t want to store sessions or something like that. So this site is just a Web-Face for communication in JSON language via AJAX with API-server.

	h2 Options.?.
	p Yeah! There are weekly european non-marginable and non-deliverable options contracts for Ethereum/Bitcoin price (1 Wei for N Satoshi) here in this moment. It means that they expire every week; a buyer can’t exercise them before expiration; a seller is deposit initial margin completely (1 Wei for every Call or Strike Satoshi for Put); a seller pay any profit to a buyer but not asset transfer taking place. If there are no Satoshi in Call seller’s wallet by the expiration moment, from his Weis will be transferred Satoshi equivalent at market price. Use Google.!.

	h2 OK! What next?
	p Just chose a Strike, pick Call or Put, set Your price & quantity and press Buy or Sell  – Voila! If something matches Your criteria in Order Book – option in Your pocket, else you join the queue with Limit Order.