extends ../layout

block content

	h1= title
	p First I want to explain – why I use my ugly English. My personal translator is a young mommy :) and it’s impossible for her to give me extensive help.
	p 
		| If You are interested in technologies I can tell about this Server:
		br
		| Hosting is a Virtual Machine in Google Clouds with Ubuntu Xenial Xerus.
		br
		| Node.js with Express, Pug and jQuery help with Web-Face.
		br
		| Python with Bottle via Gunicorn, MongoDB, InfluxDB and Memcached run JSON-communicaded API-server.
		br
		| Let's Encrypt has given me Free SSL Certificate for secure HTTPS-connections.
		br
		| Chronograf & Telegraf watch for Server’s health.
		br
		| Of course SSH & OpenSSL, rsync & Git; systemd & cron. Spyder and Visual Studio Code. Firefox or Opera. Heaven knows what else...
		br
		| So it’s the greatest experience in programming, administrating, translating (:and crypting:)
	p I was a front-end developer, blogger,  photographer, traveler, trader and villager. So… Who am I now? Just “YZoZ”, which You can simple say as “easyOZ”.
	p Anywhere I’m glad to see You on “YZoZ Crypto Assets Options Exchange”. Yes, I know about “Deribit” and I use it with pleasure, but fairly big lots and a lack of alternative instruments has given me a wink to try to create my own Market.
	p It’s α-testing version of exchange working in demo-mode. After registration you will have 1000 Wei and 100000000 Satoshi on Your virtual balance to start your trading experience.
	p Compile Your Reality from the Open Source!