extends ../layout

block content

	h1= title
	ol
		li At the earliest possible time: Billing :)
		li Interface: Edit Order, Plase Order from Order Book; Implide Volatility, Market Theoretical Price, Open Interest, Greeks on the Desk
		li Visuals: Graphic P/L and Greeks in Time
		li Instruments: Monthly and Quarterly series, some of Ethereum based Assets
		li Risk management: Net-Position with Lower Margin